body {
    background-color: #d0f9ff;
}

.container {
    width: 500px;
    height: 500px;
    max-width: 80vw;
    max-height: 80vw;
    background-color: #9c6545;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    margin-bottom: 60px;
}

.contador {
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding-bottom: 60px;
    color: #9c6545;
}

.box {
    background-color: #d0f9ff;
    border: rgb(114, 201, 228) solid 1px;
    color: #9c6545; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.buttons {
    width: 100%;
    display: flex;  
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    font-size: 22px;
    width:180px;
    height: 58px;
    border-radius: 20px;
    background-color: #d0f9ff;
}


.vacia {
    background-color: #9c6545;
    border: none;
}