.container {
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.contador {
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box {
    background-color: blue;
    border: red solid 1px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.buttons {
    margin: auto;
    margin-top: 20px;
    width: 100px;
}

.buttons button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
}


/* .vacia {
    background-color: aqua;
    border: none;
} */